.Register{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Form-container{
        width: 400px;
        height: 600px;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 1px black;
        .Form{
            width: 80%;
            input{
                width: 95%;
                padding: 10px 4px 10px 10px;
                border-radius: 10px;
                border: none;

            }
            .button-login{
                margin-top: 20px;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                border: none;
                cursor:pointer;
            }
            .button-login:hover{
                background-color: aqua;
            }
        }
        @media only screen and (max-width:768px){
            width: 300px;
            height: 400px;
        }
        .Text{

        }
        
    }
}